.activities-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    178.43deg,
    #4b00e0 1.34%,
    #6a15e1 48.32%,
    #8e2de2 99.39%
  );
  color: white;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.page-header h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  margin-top: 3rem;
}

.heading {
  margin: 2rem 0;
  margin-top: 3rem;
  display: inline-block;
  border-radius: 5px;
}

.heading h1 {
  display: inline;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
  text-align: start;
  position: relative;
  font-weight: 700;
}

.heading h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  left: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.activities-page-content {
  width: 85%;
  padding: 2rem 0;
}

.events div {
  margin-bottom: 1rem;
  padding: 0;
}

.events div h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .activities-page-container {
    margin-top: 50px;
  }
  .activities-page-content {
    padding: 0;
    width: 85%;
  }
  .heading {
    margin-top: 1rem;
  }
  .heading h1 {
    font-size: 1.5rem;
    text-align: start;
  }
  .events div {
    width: 100% !important;
  }
  .events div h2{
    font-size: 1.2rem;
  }
}
