@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-slider{
  width: 100%;
}

.slick-track{
  display: flex;
  align-items: stretch;
}

.slick-slide {
  display: flex;
  align-self: stretch;
  width: 100vw;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slick-dots{
  display: none;
}