@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@200;300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --toastify-color-light: white;
  --toastify-color-progress-light: linear-gradient(178.43deg, #4B00E0 1.34%, #8E2DE2 99.39%);
  --toastify-text-color-light: purple;
  --toastify-color-progress-success: linear-gradient(178.43deg, #4B00E0 1.34%, #8E2DE2 99.39%);
}

.Toastify__close-button > svg {
    color: purple;
    opacity: 1;
}


html, body{
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slick-slider{
  position: relative;
  width: 100%;
  height: 100%;
}

.slick-track{
  display: flex;
  align-items: stretch;
  height: 100%;
}

.slick-slide {
  display: flex;
  align-self: stretch;
  width: 100vw;
  height: 100%;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 92vh;
}

.slick-dots{
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

.slick-dots ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.slick-dots ul li{
  margin: 0 1rem;
}

.slick-dots ul li button{
  background: white;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots ul .slick-active button{
  background: linear-gradient(178.43deg, #4B00E0 1.34%, #8E2DE2 99.39%);
  transform: scale(1.5);
  border: 1px solid white;
}

@media screen and (max-width: 750px) {
  .slick-slide > div{
    min-height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  .slick-slide > div{
    min-height: 35vh;
  }
  .slick-dots{
    bottom: 1rem;
  }
  .slick-dots ul li{
    margin: 0 0.7rem;
  }
  .slick-dots ul li button{
    width: 10px;
    height: 10px;
  }
}