.hero-container {
  width: 100%;
  margin-top: 65px;
  background: #060017;
  position: relative;
  min-height: 92vh;
  cursor: grab;
}

.curtains {
  position: absolute;
  width: 100%;
  height: 92vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
  z-index: 0;
  animation: shorten 0.1s linear;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 1000;
}

@keyframes shorten {
  100%{
    height: 0px;
  }
}

.curtains > div:nth-child(1) {
  width: 50%;
  background: #8e2de2;
  animation: moveLeft 2s ease 1 forwards;
  z-index: 1000;
}

.curtains > div:nth-child(2) {
  width: 50%;
  background: #8e2de2;
  animation: moveRight 2s ease 1 forwards;
  z-index: 1000;
}

@keyframes moveLeft {
  40% {
    transform: translate(-15%, 0);
    border-bottom-right-radius: 0px;
  }
  66% {
    transform: translate(0%, 0);
    border-bottom-right-radius: 100%;
  }
  100% {
    transform: translate(-100%, 0);
    border-bottom-right-radius: 0%;
  }
}

@keyframes moveRight {
  40% {
    transform: translate(15%, 0);
    border-bottom-left-radius: 0px;
  }
  66% {
    transform: translate(0%, 0);
    border-bottom-left-radius: 100%;
  }
  100% {
    transform: translate(100%, 0);
    border-bottom-left-radius: 0;
  }
}

@media screen and (max-width: 750px) {
  .hero-container {
    margin-top: 60px;
    min-height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  .hero-container {
    min-height: 35vh;
  }
}
