.hero-container{
    width: 100%;
    margin-top: 65px;
    background: #060017;
    position: relative;
    min-height: 92vh;
}

@media screen and (max-width: 750px) {
    .hero-container{
        margin-top: 60px;
        min-height: 70vh;
    }
}

@media screen and (max-width: 500px) {
    .hero-container{
        min-height: 35vh;
    }
}
