.home-events {
  display: flex;
  justify-content: center;
  align-content: center;
  /* background: #8E2DE2; */
  font-family: "Open Sans", sans-serif;
  color: white;
  overflow: hidden;
}

.home-events-content .heading {
  background: #8e2de2;
  padding: 2rem 8rem;
}

.home-events-content h1 {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
