.home-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem 8rem;
  min-width: 700px;
}

.home-event .event-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 48%;
  padding: 2rem 0;
}

.event-desc h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.event-desc p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.event-desc button {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  background: #ffbc0f;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.home-event .event-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: white;
  width: 48%;
  border-radius: 25px;
  height: 300px;
}

@media screen and (max-width: 950px) {
  .home-event {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 650px) {
  .home-event {
    flex-direction: column !important;
    padding: 1rem;
    min-width: 300px;
    align-items: center;
    justify-content: center;
  }
  .home-event .event-desc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 0;
  }
  .event-desc h2{
      font-weight: lighter;
  }
  .event-desc p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .home-event .event-image{
      width: 90%;
  }
}
