.home-event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2rem 0; */
    font-family: "Poppins", sans-serif;
    padding: 2rem 8rem;
    background: #8E2DE2;
}

.home-event .event-desc{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 48%;
    padding: 2rem 0;
}

.event-desc h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.event-desc p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.event-desc button{
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    background: #FFBC0F;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.home-event .event-image{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: white;
    width: 48%;
    border-radius: 25px;
    height: 300px;
}
