.vision-mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  /* margin-bottom: 2rem; */
}

.vision-mission-content {
  display: flex;
  background: #6c16e1;
}

.events-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: white;
  width: 50%;
}

.events-image h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}

.events-image img {
  width: 300px;
}

.mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #8e2de2 0%, #6a15e1 100%);
  border-top-right-radius: 100px;
}

.vision-mission-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 100px;
  background: white;
  padding: 6rem 8rem;
  width: 50%;
}

.vision-mission-details h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.vision-mission-details p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .vision-mission-content {
    min-width: 700px;
  }
  .vision-mission-details {
    padding: 2rem;
    width: 50%;
  }
  .events-image img {
    width: 200px !important;
  }
}

@media screen and (max-width: 950px) {
  .vision-mission-details {
    padding: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .vision-mission-container {
    margin-bottom: 2.5rem;
  }
  .vision-mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: white;
    min-width: 300px;
  }
  .vision-mission-details {
    border-top-right-radius: 0px;
    width: 80%;
  }
  .events-image {
    width: 80%;
  }
  .mask {
    position: relative;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
  }
  .events-image img {
    width: 200px !important;
  }
}

@media screen and (max-width: 500px) {
  .vision-mission-details h2 {
    font-size: 1.5rem;
  }
  .vision-mission-details p {
    font-size: 1rem;
  }
  .events-image img {
    width: 150px !important;
  }
  .vision-mission-details {
    width: 90%;
  }
  .events-image {
    height: 280px;
  }
  .events-image h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
