.team-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(178.43deg, #4B00E0 1.34%, #8E2DE2 99.39%);;
    padding: 1rem;
    width: 270px;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.team-card-container .card-image img{
    border-radius: 50%;
}

.team-card-container .card-content{
    text-align: center;
}

.team-card-container .card-content h2{
    font-weight: 600;
    line-height: 2.5rem;
}

.team-card-container .card-content h4{
    font-weight: 400;
}